.dc-chart g.row text {
    fill: black;
}

.dc-chart .pie-slice {
    fill:black;
}

#humlogo{
    margin:20px 0px 20px 0px;
}

.inlinelogo{
    width:150px;
    display:inline-block;
}

.x-axis-label{
    font-size:10px;
}