.version.index /* version checker */
{
	color: #000012;
	background-color: #8D8EA7;
}

.html
{
	background-color: #026CB6;
}

#page
{
	z-index: 1;
	width: 980px;
	min-height: 499.5672332761824px;
	background-image: none;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FF4F33;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
	margin-top: -1px;
}

#page_position_content
{
	padding-bottom: 62px;
	width: 0.01px;
}

#slideshowu465
{
	z-index: 424;
	width: 0.01px;
	height: 1440px;
	left: -100px;
	position: relative;
}

#u475popup
{
	z-index: 425;
}

#u1006
{
	z-index: 426;
	width: 1180px;
	height: 1440px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1015
{
	z-index: 428;
	width: 1180px;
	height: 1440px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u997
{
	z-index: 430;
	width: 1180px;
	height: 1440px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u988
{
	z-index: 432;
	width: 1180px;
	height: 1440px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#home
{
	top: -1440px;
	margin-bottom: -18px;
	position: relative;
}

#u1656-4
{
	z-index: 443;
	width: 169px;
	min-height: 26px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 18px;
	text-align: center;
	line-height: 22px;
	font-family: actor, sans-serif;
	font-weight: 400;
	margin-left: 406px;
	top: -957px;
	margin-bottom: -26px;
	position: relative;
}

#u1651
{
	z-index: 442;
	background-color: transparent;
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	overflow: hidden;
	margin-left: 465px;
	top: -926px;
	margin-bottom: -50px;
	position: relative;
}

#u1651:hover
{
	min-height: 0px;
	margin: 0px 0px -50px 465px;
}

#pu464
{
	width: 0.01px;
	margin-left: -230px;
	margin-top: -1px;
}

#u464
{
	z-index: 215;
	min-height: 1440px;
	border-style: none;
	border-color: transparent;
	background-color: #026CB6;
}

#u1837
{
	z-index: 216;
	position: relative;
	margin-right: -10000px;
	margin-top: -8px;
	left: -130px;
}

#u464-bw
{
	z-index: 215;
	min-height: 1440px;
	margin-top: 1px;
}

#jan
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	left: 230px;
}

#u666-4
{
	z-index: 303;
	width: 92px;
	min-height: 14px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	border-radius: 2px;
	line-height: 22px;
	position: relative;
	margin-right: -10000px;
	margin-top: 51px;
	left: 310px;
}

#u795
{
	z-index: 350;
	width: 141px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 367px;
	left: 680px;
}

#pamphletu1778
{
	z-index: 356;
	width: 0.01px;
	height: 141px;
	position: relative;
}

#u1779
{
	position: absolute;
	width: 140px;
	background-color: transparent;
	left: 1px;
}

#u1779popup
{
	z-index: 357;
}

#u1780
{
	z-index: 358;
	width: 140px;
	height: 140px;
	border-style: none;
	border-color: transparent;
	background-color: #FF4F33;
	opacity: 0.9;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);
	border-radius: 70px;
	margin-right: -10000px;
	position: relative;
}

#u1792-11
{
	z-index: 359;
	width: 120px;
	min-height: 73px;
	background-color: transparent;
	line-height: 18px;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 11px;
}

#u1784
{
	z-index: 370;
	width: 141px;
	position: relative;
	margin-right: -10000px;
}

#u1785
{
	position: absolute;
	width: 141px;
	height: 141px;
}

#u756
{
	z-index: 351;
	margin-left: 1px;
	top: -141px;
	margin-bottom: -140px;
	position: relative;
}

#u761-4
{
	z-index: 352;
	width: 140px;
	min-height: 88px;
	background-color: transparent;
	line-height: 22px;
	margin-left: 1px;
	margin-top: 15px;
	position: relative;
}

#u562-6
{
	z-index: 409;
	width: 430px;
	min-height: 135px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 93px;
	left: 310px;
}

#u1706-4
{
	z-index: 415;
	width: 430px;
	min-height: 94px;
	background-color: transparent;
	line-height: 22px;
	position: relative;
	margin-right: -10000px;
	margin-top: 133px;
	left: 760px;
}

#u1774-4
{
	z-index: 419;
	width: 647px;
	min-height: 40px;
	background-color: transparent;
	line-height: 29px;
	position: relative;
	margin-right: -10000px;
	margin-top: 314px;
	left: 310px;
}

#u1857
{
	z-index: 423;
	width: 980px;
	height: 800px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 641px;
}

#U1975_animation
{
	width: 980px;
	height: 800px;
	border: none;
}

#pmenuu572
{
	width: 0.01px;
	padding-bottom: 560px;
	margin-top: -1390px;
}

#menuu572
{
	z-index: 218;
	width: 46px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 1490px;
	left: 0px;
}

#u580
{
	width: 46px;
	background-color: transparent;
	position: relative;
}

#u581
{
	width: 46px;
	min-height: 12px;
	background-color: transparent;
	padding-bottom: 15px;
	position: relative;
	margin-right: -10000px;
}

#u581:hover
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	width: 46px;
	min-height: 12px;
	margin: 0px -10000px 0px 0px;
}

#u583
{
	z-index: 221;
	width: 10px;
	height: 10px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	position: relative;
	margin-right: -10000px;
	top: 8px;
}

#u581:hover #u583
{
	background-color: #93CC00;
	width: 10px;
	height: 10px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u582-4
{
	width: 36px;
	min-height: 12px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 10px;
	line-height: 12px;
	text-indent: 5px;
	text-align: left;
	font-family: actor, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 7px;
	left: 10px;
}

#u581:hover #u582-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 36px;
	margin: 0px -10000px 0px 0px;
}

#u581:hover #u582-4 p
{
	color: #93CC00;
	visibility: inherit;
}

#u618
{
	width: 46px;
	min-height: 12px;
	background-color: transparent;
	padding-bottom: 15px;
	position: relative;
	margin-right: -10000px;
}

#u618:hover
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	width: 46px;
	min-height: 12px;
	margin: 0px -10000px 0px 0px;
}

#u620
{
	z-index: 228;
	width: 10px;
	height: 10px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	position: relative;
	margin-right: -10000px;
	top: 8px;
}

#u581.MuseMenuActive #u583,#u618:hover #u620
{
	background-color: #93CC00;
	width: 10px;
	height: 10px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u619-4
{
	width: 36px;
	min-height: 12px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 10px;
	line-height: 12px;
	text-indent: 5px;
	text-align: left;
	font-family: actor, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 7px;
	left: 10px;
}

#u581.MuseMenuActive #u582-4,#u618:hover #u619-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 36px;
	margin: 0px -10000px 0px 0px;
}

#u618:hover #u619-4 p
{
	color: #93CC00;
	visibility: inherit;
}

#u651
{
	width: 46px;
	min-height: 12px;
	background-color: transparent;
	padding-bottom: 15px;
	position: relative;
	margin-right: -10000px;
}

#u651:hover
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	width: 46px;
	min-height: 12px;
	margin: 0px -10000px 0px 0px;
}

#u654
{
	z-index: 235;
	width: 10px;
	height: 10px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	position: relative;
	margin-right: -10000px;
	top: 8px;
}

#u618.MuseMenuActive #u620,#u651:hover #u654
{
	background-color: #93CC00;
	width: 10px;
	height: 10px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u653-4
{
	width: 36px;
	min-height: 12px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 10px;
	line-height: 12px;
	text-indent: 5px;
	text-align: left;
	font-family: actor, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 7px;
	left: 10px;
}

#u618.MuseMenuActive #u619-4,#u651:hover #u653-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 36px;
	margin: 0px -10000px 0px 0px;
}

#u651:hover #u653-4 p
{
	color: #93CC00;
	visibility: inherit;
}

#u644
{
	width: 46px;
	min-height: 12px;
	background-color: transparent;
	padding-bottom: 15px;
	position: relative;
	margin-right: -10000px;
}

#u644:hover
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	width: 46px;
	min-height: 12px;
	margin: 0px -10000px 0px 0px;
}

#u647
{
	z-index: 242;
	width: 10px;
	height: 10px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	position: relative;
	margin-right: -10000px;
	top: 8px;
}

#u651.MuseMenuActive #u654,#u644:hover #u647
{
	background-color: #93CC00;
	width: 10px;
	height: 10px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u646-4
{
	width: 36px;
	min-height: 12px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 10px;
	line-height: 12px;
	text-indent: 5px;
	text-align: left;
	font-family: actor, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 7px;
	left: 10px;
}

#u651.MuseMenuActive #u653-4,#u644:hover #u646-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 36px;
	margin: 0px -10000px 0px 0px;
}

#u644:hover #u646-4 p
{
	color: #93CC00;
	visibility: inherit;
}

#u637
{
	width: 46px;
	min-height: 12px;
	background-color: transparent;
	padding-bottom: 15px;
	position: relative;
	margin-right: -10000px;
}

#u637:hover
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	width: 46px;
	min-height: 12px;
	margin: 0px -10000px 0px 0px;
}

#u640
{
	z-index: 249;
	width: 10px;
	height: 10px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	position: relative;
	margin-right: -10000px;
	top: 8px;
}

#u644.MuseMenuActive #u647,#u637:hover #u640
{
	background-color: #93CC00;
	width: 10px;
	height: 10px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u639-4
{
	width: 36px;
	min-height: 12px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 10px;
	line-height: 12px;
	text-indent: 5px;
	text-align: left;
	font-family: actor, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 7px;
	left: 10px;
}

#u644.MuseMenuActive #u646-4,#u637:hover #u639-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 36px;
	margin: 0px -10000px 0px 0px;
}

#u637:hover #u639-4 p
{
	color: #93CC00;
	visibility: inherit;
}

#u630
{
	width: 46px;
	min-height: 12px;
	background-color: transparent;
	padding-bottom: 16px;
	position: relative;
	margin-right: -10000px;
}

#u630:hover
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	width: 46px;
	min-height: 12px;
	margin: 0px -10000px 0px 0px;
}

#u633
{
	z-index: 256;
	width: 10px;
	height: 10px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	position: relative;
	margin-right: -10000px;
	top: 9px;
}

#u637.MuseMenuActive #u640,#u630:hover #u633
{
	background-color: #93CC00;
	width: 10px;
	height: 10px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u632-4
{
	width: 36px;
	min-height: 12px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 10px;
	line-height: 12px;
	text-indent: 5px;
	text-align: left;
	font-family: actor, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 10px;
}

#u637.MuseMenuActive #u639-4,#u630:hover #u632-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 36px;
	margin: 0px -10000px 0px 0px;
}

#u630:hover #u632-4 p
{
	color: #93CC00;
	visibility: inherit;
}

#u623
{
	width: 46px;
	min-height: 12px;
	background-color: transparent;
	padding-bottom: 16px;
	position: relative;
	margin-right: -10000px;
}

#u623:hover
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	width: 46px;
	min-height: 12px;
	margin: 0px -10000px 0px 0px;
}

#u626
{
	z-index: 263;
	width: 10px;
	height: 10px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	position: relative;
	margin-right: -10000px;
	top: 9px;
}

#u630.MuseMenuActive #u633,#u623:hover #u626
{
	background-color: #93CC00;
	width: 10px;
	height: 10px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u625-4
{
	width: 36px;
	min-height: 12px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 10px;
	line-height: 12px;
	text-indent: 5px;
	text-align: left;
	font-family: actor, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 10px;
}

#u630.MuseMenuActive #u632-4,#u623:hover #u625-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 36px;
	margin: 0px -10000px 0px 0px;
}

#u623:hover #u625-4 p
{
	color: #93CC00;
	visibility: inherit;
}

#u611
{
	width: 46px;
	min-height: 12px;
	background-color: transparent;
	padding-bottom: 16px;
	position: relative;
	margin-right: -10000px;
}

#u611:hover
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	width: 46px;
	min-height: 12px;
	margin: 0px -10000px 0px 0px;
}

#u613
{
	z-index: 270;
	width: 10px;
	height: 10px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	position: relative;
	margin-right: -10000px;
	top: 9px;
}

#u623.MuseMenuActive #u626,#u611:hover #u613
{
	background-color: #93CC00;
	width: 10px;
	height: 10px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u612-4
{
	width: 36px;
	min-height: 12px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 10px;
	line-height: 12px;
	text-indent: 5px;
	text-align: left;
	font-family: actor, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 10px;
}

#u623.MuseMenuActive #u625-4,#u611:hover #u612-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 36px;
	margin: 0px -10000px 0px 0px;
}

#u611:hover #u612-4 p
{
	color: #93CC00;
	visibility: inherit;
}

#u604
{
	width: 46px;
	min-height: 12px;
	background-color: transparent;
	padding-bottom: 16px;
	position: relative;
	margin-right: -10000px;
}

#u604:hover
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	width: 46px;
	min-height: 12px;
	margin: 0px -10000px 0px 0px;
}

#u606
{
	z-index: 277;
	width: 10px;
	height: 10px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	position: relative;
	margin-right: -10000px;
	top: 9px;
}

#u611.MuseMenuActive #u613,#u604:hover #u606
{
	background-color: #93CC00;
	width: 10px;
	height: 10px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u605-4
{
	width: 36px;
	min-height: 12px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 10px;
	line-height: 12px;
	text-indent: 5px;
	text-align: left;
	font-family: actor, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 10px;
}

#u611.MuseMenuActive #u612-4,#u604:hover #u605-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 36px;
	margin: 0px -10000px 0px 0px;
}

#u604:hover #u605-4 p
{
	color: #93CC00;
	visibility: inherit;
}

#u597
{
	width: 46px;
	min-height: 12px;
	background-color: transparent;
	padding-bottom: 16px;
	position: relative;
	margin-right: -10000px;
}

#u597:hover
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	width: 46px;
	min-height: 12px;
	margin: 0px -10000px 0px 0px;
}

#u599
{
	z-index: 284;
	width: 10px;
	height: 10px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	position: relative;
	margin-right: -10000px;
	top: 9px;
}

#u604.MuseMenuActive #u606,#u597:hover #u599
{
	background-color: #93CC00;
	width: 10px;
	height: 10px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u598-4
{
	width: 36px;
	min-height: 12px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 10px;
	line-height: 12px;
	text-indent: 5px;
	text-align: left;
	font-family: actor, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 10px;
}

#u604.MuseMenuActive #u605-4,#u597:hover #u598-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 36px;
	margin: 0px -10000px 0px 0px;
}

#u597:hover #u598-4 p
{
	color: #93CC00;
	visibility: inherit;
}

#u590
{
	width: 46px;
	min-height: 12px;
	background-color: transparent;
	padding-bottom: 16px;
	position: relative;
	margin-right: -10000px;
}

#u590:hover
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	width: 46px;
	min-height: 12px;
	margin: 0px -10000px 0px 0px;
}

#u592
{
	z-index: 291;
	width: 10px;
	height: 10px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	position: relative;
	margin-right: -10000px;
	top: 9px;
}

#u597.MuseMenuActive #u599,#u590:hover #u592
{
	background-color: #93CC00;
	width: 10px;
	height: 10px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u591-4
{
	width: 36px;
	min-height: 12px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 10px;
	line-height: 12px;
	text-indent: 5px;
	text-align: left;
	font-family: actor, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 10px;
}

#u597.MuseMenuActive #u598-4,#u590:hover #u591-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 36px;
	margin: 0px -10000px 0px 0px;
}

#u590:hover #u591-4 p
{
	color: #93CC00;
	visibility: inherit;
}

#u615,#u650,#u643,#u636,#u629,#u622,#u608,#u601,#u594,#u587,#u659
{
	width: 46px;
	background-color: transparent;
	margin-top: 2px;
	position: relative;
}

#u660
{
	width: 46px;
	min-height: 12px;
	background-color: transparent;
	padding-bottom: 16px;
	position: relative;
	margin-right: -10000px;
}

#u660:hover
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	width: 46px;
	min-height: 12px;
	margin: 0px -10000px 0px 0px;
}

#u581.MuseMenuActive,#u618.MuseMenuActive,#u651.MuseMenuActive,#u644.MuseMenuActive,#u637.MuseMenuActive,#u630.MuseMenuActive,#u623.MuseMenuActive,#u611.MuseMenuActive,#u604.MuseMenuActive,#u597.MuseMenuActive,#u590.MuseMenuActive,#u660.MuseMenuActive
{
	border-style: none;
	border-color: transparent;
	background-color: #93CC00;
	width: 46px;
	min-height: 12px;
	margin: 0px -10000px 0px 0px;
}

#u662
{
	z-index: 298;
	width: 10px;
	height: 10px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	position: relative;
	margin-right: -10000px;
	top: 9px;
}

#u590.MuseMenuActive #u592,#u660:hover #u662
{
	background-color: #93CC00;
	width: 10px;
	height: 10px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u660.MuseMenuActive #u662
{
	background-color: #93CC00;
	width: 10px;
	height: 10px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u661-4
{
	width: 36px;
	min-height: 12px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 10px;
	line-height: 12px;
	text-indent: 5px;
	text-align: left;
	font-family: actor, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 10px;
}

#u590.MuseMenuActive #u591-4,#u660:hover #u661-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 36px;
	margin: 0px -10000px 0px 0px;
}

#u660.MuseMenuActive #u661-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 36px;
	margin: 0px -10000px 0px 0px;
}

#u660:hover #u661-4 p
{
	color: #93CC00;
	visibility: inherit;
}

#u581.MuseMenuActive #u582-4 p,#u618.MuseMenuActive #u619-4 p,#u651.MuseMenuActive #u653-4 p,#u644.MuseMenuActive #u646-4 p,#u637.MuseMenuActive #u639-4 p,#u630.MuseMenuActive #u632-4 p,#u623.MuseMenuActive #u625-4 p,#u611.MuseMenuActive #u612-4 p,#u604.MuseMenuActive #u605-4 p,#u597.MuseMenuActive #u598-4 p,#u590.MuseMenuActive #u591-4 p,#u660.MuseMenuActive #u661-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton,.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton,.MenuItem /* slideshowFreeStyle */
{
	cursor: pointer;
}

#u793
{
	z-index: 307;
	width: 140px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 1806px;
	left: 80px;
}

#pamphletu1721
{
	z-index: 315;
	width: 0.01px;
	height: 140px;
	position: relative;
}

#u1722popup
{
	z-index: 316;
}

#u1725
{
	z-index: 317;
	width: 140px;
	height: 140px;
	border-style: none;
	border-color: transparent;
	background-color: #FF4F33;
	opacity: 0.9;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);
	border-radius: 70px;
	margin-right: -10000px;
	position: relative;
}

#u1747-11
{
	z-index: 318;
	width: 120px;
	min-height: 73px;
	background-color: transparent;
	line-height: 18px;
	position: relative;
	margin-right: -10000px;
	left: 11px;
}

#u1730
{
	z-index: 329;
	width: 140px;
	position: relative;
	margin-right: -10000px;
}

#u1731
{
	position: absolute;
	width: 140px;
	height: 140px;
}

#u741
{
	z-index: 308;
	top: -140px;
	margin-bottom: -140px;
	position: relative;
}

#u747-6
{
	z-index: 309;
	width: 140px;
	min-height: 88px;
	background-color: transparent;
	margin-top: 16px;
	position: relative;
}

#u794
{
	z-index: 331;
	width: 140px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 1806px;
	left: 265px;
}

#u749
{
	z-index: 332;
	position: relative;
	margin-right: -10000px;
}

#pamphletu1760
{
	z-index: 339;
	width: 0.01px;
	height: 140px;
	position: relative;
	margin-right: -10000px;
}

#u1769popup
{
	z-index: 340;
}

#u1770
{
	z-index: 341;
	width: 140px;
	height: 140px;
	border-style: none;
	border-color: transparent;
	background-color: #FF4F33;
	opacity: 0.9;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);
	border-radius: 70px;
	margin-right: -10000px;
	position: relative;
}

#u1773-6
{
	z-index: 342;
	width: 131px;
	min-height: 107px;
	background-color: transparent;
	line-height: 18px;
	position: relative;
	margin-right: -10000px;
	margin-top: 29px;
	left: 5px;
}

#u1761
{
	z-index: 348;
	width: 140px;
	position: relative;
	margin-right: -10000px;
}

#u1762
{
	position: absolute;
	width: 140px;
	height: 140px;
}

#u754-6
{
	z-index: 333;
	width: 140px;
	min-height: 88px;
	background-color: transparent;
	margin-top: 16px;
	position: relative;
}

#u796
{
	z-index: 372;
	width: 140px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 1806px;
	left: 635px;
}

#u762
{
	z-index: 373;
	position: relative;
	margin-right: -10000px;
}

#pamphletu1793
{
	z-index: 380;
	width: 0.01px;
	height: 140px;
	position: relative;
	margin-right: -10000px;
}

#u1800popup
{
	z-index: 381;
}

#u1801
{
	z-index: 382;
	width: 140px;
	height: 140px;
	border-style: none;
	border-color: transparent;
	background-color: #FF4F33;
	opacity: 0.9;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);
	border-radius: 70px;
	margin-right: -10000px;
	position: relative;
}

#u1806-6
{
	z-index: 383;
	width: 120px;
	min-height: 73px;
	background-color: transparent;
	line-height: 18px;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 11px;
}

#u1796
{
	z-index: 389;
	width: 140px;
	position: relative;
	margin-right: -10000px;
}

#u1797
{
	position: absolute;
	width: 140px;
	height: 140px;
}

#u772-6
{
	z-index: 374;
	width: 140px;
	min-height: 88px;
	background-color: transparent;
	margin-top: 16px;
	position: relative;
}

#u797
{
	z-index: 391;
	width: 140px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 1806px;
	left: 820px;
}

#pu749,#pu762,#pu765
{
	width: 0.01px;
}

#u765
{
	z-index: 392;
	position: relative;
	margin-right: -10000px;
}

#pamphletu1808
{
	z-index: 397;
	width: 0.01px;
	height: 140px;
	position: relative;
	margin-right: -10000px;
}

#u1722,#u1769,#u1800,#u1811
{
	position: absolute;
	width: 140px;
	background-color: transparent;
}

#u1811popup
{
	z-index: 398;
}

#u1812
{
	z-index: 399;
	width: 140px;
	height: 140px;
	border-style: none;
	border-color: transparent;
	background-color: #FF4F33;
	opacity: 0.9;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);
	border-radius: 70px;
	margin-right: -10000px;
	position: relative;
}

#u1821-7
{
	z-index: 400;
	width: 120px;
	min-height: 73px;
	background-color: transparent;
	line-height: 18px;
	position: relative;
	margin-right: -10000px;
	margin-top: 26px;
	left: 11px;
}

#u1792-5,#u1747-5,#u747-4,#u754-4,#u772-4,#u1821-4
{
	line-height: 18px;
}

#u1816
{
	z-index: 407;
	width: 140px;
	position: relative;
	margin-right: -10000px;
}

#u1817
{
	position: absolute;
	width: 140px;
	height: 140px;
}

.ie #u1785,.ie #u1731,.ie #u1762,.ie #u1797,.ie #u1817
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u773-4
{
	z-index: 393;
	width: 140px;
	min-height: 88px;
	background-color: transparent;
	line-height: 22px;
	margin-top: 16px;
	position: relative;
}

#u669
{
	z-index: 192;
	min-height: 1439.897074902491px;
	border-style: none;
	border-color: transparent;
	padding-bottom: 0px;
	background: #FF4F33 url("../images/img_ssd_sky.jpg") no-repeat left top;
}

#u669_position_content
{
	padding-bottom: 962px;
}

#feb
{
	left: 100px;
	position: relative;
}

#u785-4
{
	z-index: 194;
	width: 92px;
	min-height: 14px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	border-radius: 2px;
	line-height: 22px;
	left: 180px;
	margin-top: 32px;
	position: relative;
}

#pu786-8
{
	width: 0.01px;
	left: 180px;
	margin-top: 20px;
	position: relative;
}

#u786-8
{
	z-index: 198;
	width: 355px;
	min-height: 330px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1034-4
{
	z-index: 206;
	width: 505px;
	min-height: 17px;
	background-color: #FFFFFF;
	opacity: 0.3;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	line-height: 19px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 375px;
}

#u1675-4
{
	z-index: 210;
	width: 130px;
	min-height: 15px;
	background-color: transparent;
	line-height: 14px;
	font-style: normal;
	left: 930px;
	margin-top: 41px;
	position: relative;
}

#u669-bw
{
	z-index: 192;
	min-height: 1439.897074902491px;
}

#u1700
{
	z-index: 214;
	width: 730px;
	min-height: 424px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 134px;
	left: 553px;
}

#u1661-4
{
	z-index: 447;
	width: 130px;
	min-height: 41px;
	background-color: #026CB6;
	color: #FFFFFF;
	font-size: 15px;
	text-align: center;
	line-height: 18px;
	font-family: actor, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 422px;
	left: 180px;
}

#u1661-4:hover
{
	background-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 41px;
	width: 130px;
	margin: 422px -10000px 0px 0px;
}

#u1661-4:hover p
{
	color: #026CB6;
	visibility: inherit;
}

#u1661-2
{
	padding-top: 11px;
}

#u822
{
	z-index: 144;
	min-height: 439px;
	border-style: none;
	border-color: transparent;
	background-color: #026CB6;
	padding-bottom: 1001px;
}

#mar
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 6px;
	left: 100px;
}

#pu880-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 56px;
	margin-left: 180px;
}

#u880-4
{
	z-index: 148;
	width: 92px;
	min-height: 14px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	border-radius: 2px;
	line-height: 22px;
	position: relative;
}

#u881-4
{
	z-index: 152;
	width: 210px;
	min-height: 35px;
	background-color: transparent;
	line-height: 36px;
	margin-top: 20px;
	position: relative;
}

#u1409
{
	z-index: 147;
	width: 280px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.7);
	border-radius: 50px 0px 50px 0px ;
	padding-bottom: 48px;
	margin-top: 20px;
	position: relative;
	-pie-background: rgba(255,255,255,0.7);
}

#u1279-4
{
	z-index: 157;
	width: 75px;
	min-height: 208px;
	background-color: transparent;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: -16px;
}

#u1425-7
{
	z-index: 161;
	width: 191px;
	min-height: 197px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 28px;
	left: 75px;
}

#u1406
{
	z-index: 145;
	width: 280px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.7);
	border-radius: 50px 0px 50px 0px ;
	padding-bottom: 48px;
	position: relative;
	margin-right: -10000px;
	margin-top: 159px;
	left: 480px;
	-pie-background: rgba(255,255,255,0.7);
}

#u1429-4
{
	z-index: 168;
	width: 75px;
	min-height: 208px;
	background-color: transparent;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: -16px;
}

#u1430-7
{
	z-index: 172;
	width: 191px;
	min-height: 197px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 28px;
	left: 75px;
}

#u1415
{
	z-index: 146;
	width: 280px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.7);
	border-radius: 50px 0px 50px 0px ;
	padding-bottom: 48px;
	position: relative;
	margin-right: -10000px;
	margin-top: 159px;
	left: 780px;
	-pie-background: rgba(255,255,255,0.7);
}

#u1431-4
{
	z-index: 179;
	width: 75px;
	min-height: 208px;
	background-color: transparent;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: -16px;
}

#u1279,#u1429,#u1431
{
	line-height: 168px;
}

#u1432-7
{
	z-index: 183;
	width: 191px;
	min-height: 197px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 28px;
	left: 75px;
}

#u1425-2,#u1430-2,#u1432-2
{
	line-height: 34px;
}

#u1425-4,#u1430-4,#u1432-4
{
	font-size: 16px;
	text-align: left;
	line-height: 19px;
	color: #141414;
}

#u822-bw
{
	z-index: 144;
	min-height: 439px;
}

#u1439
{
	z-index: 190;
	width: 994px;
	background-color: transparent;
	position: fixed;
	top: 4711px;
	left: 251px;
}

#pu878
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 6px;
}

#u878
{
	z-index: 120;
	height: 1440px;
	border-style: none;
	border-color: transparent;
	background-color: #FF4F33;
}

#u878-bw
{
	z-index: 120;
	height: 1440px;
}

#slideshowu1532
{
	z-index: 121;
	width: 0.01px;
	height: 1440px;
	position: relative;
	margin-right: -10000px;
}

#u475,#u1551
{
	position: absolute;
	width: 1180px;
	height: 1440px;
	background-color: transparent;
}

#u1551popup
{
	z-index: 122;
}

#u1556
{
	z-index: 123;
	width: 1180px;
	height: 1440px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1589
{
	z-index: 125;
	width: 1180px;
	height: 1440px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1598
{
	z-index: 127;
	width: 1180px;
	height: 1440px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#apr
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 1px;
	left: 100px;
}

#u825-4
{
	z-index: 130;
	width: 92px;
	min-height: 14px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	border-radius: 2px;
	line-height: 22px;
	position: relative;
	margin-right: -10000px;
	margin-top: 64px;
	left: 180px;
}

#u826-10
{
	z-index: 134;
	width: 320px;
	min-height: 330px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 106px;
	left: 760px;
}

#u896
{
	z-index: 103;
	min-height: 675px;
	border-style: none;
	border-color: transparent;
	background-color: #026CB6;
	padding-bottom: 765px;
}

#u896_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 982px;
	position: relative;
	left: -99px;
	margin-bottom: -6px;
}

#may
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 7px;
	left: 99px;
}

#pu898-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 57px;
	margin-left: 180px;
}

#u898-4
{
	z-index: 105;
	width: 92px;
	min-height: 14px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	border-radius: 2px;
	line-height: 22px;
	position: relative;
}

#u899-10
{
	z-index: 109;
	width: 209px;
	min-height: 330px;
	background-color: transparent;
	margin-top: 20px;
	position: relative;
}

#u826-8,#u899-8
{
	font-size: 18px;
	line-height: 22px;
	color: #FFFFFF;
	font-family: actor, sans-serif;
	font-weight: 400;
}

#u1667
{
	z-index: 119;
	width: 655px;
	min-height: 454px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 99px;
	left: 405px;
}

#u896-bw
{
	z-index: 103;
	min-height: 675px;
	margin-top: -6px;
}

#u900
{
	z-index: 83;
	min-height: 435px;
	border-style: none;
	border-color: transparent;
	background-color: #FF4F33;
	padding-bottom: 1005px;
}

#jun
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 10px;
	left: 100px;
}

#pu902-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 59px;
	margin-left: 180px;
}

#u902-4
{
	z-index: 85;
	width: 92px;
	min-height: 14px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	border-radius: 2px;
	line-height: 22px;
	position: relative;
}

#u903-8
{
	z-index: 89;
	width: 400px;
	min-height: 330px;
	background-color: transparent;
	margin-top: 24px;
	position: relative;
}

#u1792,#u1792-6,#u562-2,#u1747,#u1747-6,#u1773,#u1806,#u1821-3,#u786-2,#u826-2,#u899-2,#u903-2
{
	line-height: 36px;
}

#u1030
{
	z-index: 97;
	width: 480px;
	min-height: 274px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 149px;
	left: 600px;
}

#u900-bw
{
	z-index: 83;
	min-height: 435px;
}

#pu669,#pu1464
{
	width: 0.01px;
	margin-left: -100px;
}

#u1464
{
	z-index: 2;
	min-height: 447px;
	border-style: none;
	border-color: transparent;
	background-color: #026CB6;
	padding-bottom: 993px;
}

#u464_align_to_page,#u669_align_to_page,#u822_align_to_page,#u900_align_to_page,#u1464_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 982px;
	position: relative;
	left: -99px;
}

#jul
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	left: 100px;
}

#u1466-4
{
	z-index: 99;
	width: 92px;
	min-height: 14px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	border-radius: 2px;
	line-height: 22px;
	position: relative;
	margin-right: -10000px;
	margin-top: 50px;
	left: 180px;
}

#u1467-8
{
	z-index: 3;
	width: 355px;
	min-height: 330px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 96px;
	left: 705px;
}

#u1467-2
{
	line-height: 36px;
	color: #FF4F33;
}

#u562-4,#u747-2,#u754-2,#u772-2,#u786-4,#u786-6,#u826-4,#u826-6,#u826-7,#u899-4,#u899-6,#u899-7,#u903-4,#u903-6,#u1467-4,#u1467-6
{
	line-height: 22px;
}

#u1464-bw
{
	z-index: 2;
	min-height: 447px;
}

#pamphletu1472
{
	z-index: 11;
	width: 0.01px;
	height: 134px;
	padding-bottom: 149px;
	position: relative;
	margin-right: -10000px;
	margin-top: 106px;
	left: 180px;
}

#u1475
{
	z-index: 12;
	width: 10px;
	position: relative;
	margin-right: -10000px;
	margin-top: 81px;
}

#u1476
{
	position: absolute;
	width: 10px;
	height: 10px;
	border-color: #DEDEDE;
	background-color: #FFFFFF;
	border-radius: 10px;
}

#u1476:hover
{
	border-color: #DEDEDE;
	background-color: #93CC00;
	width: 10px;
	height: 10px;
	min-height: 0px;
	margin: 0px;
}

#u1478
{
	position: absolute;
	width: 10px;
	height: 10px;
	border-color: #DEDEDE;
	background-color: #FFFFFF;
	border-radius: 10px;
	top: 22px;
}

#u1478:hover
{
	border-color: #DEDEDE;
	background-color: #93CC00;
	width: 10px;
	height: 10px;
	min-height: 0px;
	margin: 0px;
}

#u1477
{
	position: absolute;
	width: 10px;
	height: 10px;
	border-color: #DEDEDE;
	background-color: #FFFFFF;
	border-radius: 10px;
	top: 43px;
}

#u1477:hover
{
	border-color: #999999;
	background-color: #93CC00;
	width: 10px;
	height: 10px;
	min-height: 0px;
	margin: 0px;
}

#u1476.PamphletThumbSelected,#u1478.PamphletThumbSelected,#u1477.PamphletThumbSelected
{
	border-style: none;
	border-color: transparent;
	background-color: #93CC00;
	border-radius: 10px;
	width: 10px;
	height: 10px;
	min-height: 0px;
	margin: 0px;
}

#u1483
{
	position: absolute;
	width: 475px;
	background-color: transparent;
	left: 44px;
}

#u1483popup
{
	z-index: 16;
}

#u1504
{
	z-index: 17;
	width: 475px;
	height: 283px;
	border-style: none;
	border-color: #999999;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1505
{
	z-index: 18;
	width: 460px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
}

#u1511
{
	z-index: 19;
	width: 458px;
	border-width: 1px;
	border-style: solid;
	border-color: #EAEAEA;
	background-color: #FFFFFF;
	border-radius: 50px 0px 50px 0px ;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
}

#u1506-4
{
	z-index: 28;
	width: 325px;
	min-height: 86px;
	background-color: transparent;
	line-height: 21px;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 99px;
}

#u1512-4
{
	z-index: 20;
	width: 251px;
	min-height: 25px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 212px;
	left: 89px;
}

#u1509-4
{
	z-index: 24;
	width: 251px;
	min-height: 30px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 181px;
	left: 89px;
}

#u1510-4
{
	z-index: 32;
	width: 69px;
	min-height: 212px;
	background-color: transparent;
	line-height: 22px;
	position: relative;
	margin-right: -10000px;
	left: 23px;
}

#u1507
{
	z-index: 36;
	width: 24px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 155px;
	left: 35px;
}

#u1513
{
	z-index: 38;
	width: 55px;
	height: 55px;
	border-color: #000000;
	border-radius: 20px 0px 20px 0px ;
	position: relative;
	margin-right: -10000px;
	margin-top: 177px;
	left: 20px;
	background: #FFFFFF url("../images/img_valerie.jpg") no-repeat center center;
	background-size: contain;
}

#u1484
{
	z-index: 39;
	width: 475px;
	height: 283px;
	border-style: none;
	border-color: #999999;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1485
{
	z-index: 40;
	width: 460px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
}

#u1488
{
	z-index: 41;
	width: 458px;
	border-width: 1px;
	border-style: solid;
	border-color: #EAEAEA;
	background-color: #FFFFFF;
	border-radius: 50px 0px 50px 0px ;
	padding-bottom: 20px;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
}

#u1486-4
{
	z-index: 50;
	width: 325px;
	min-height: 86px;
	background-color: transparent;
	line-height: 21px;
	position: relative;
	margin-right: -10000px;
	margin-top: 27px;
	left: 99px;
}

#u1492-4
{
	z-index: 42;
	width: 251px;
	min-height: 25px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 212px;
	left: 89px;
}

#u1512,#u1492
{
	line-height: 19px;
}

#u1489-4
{
	z-index: 46;
	width: 251px;
	min-height: 30px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 181px;
	left: 89px;
}

#u1487-4
{
	z-index: 54;
	width: 69px;
	min-height: 212px;
	background-color: transparent;
	line-height: 22px;
	position: relative;
	margin-right: -10000px;
	left: 23px;
}

#u1490
{
	z-index: 58;
	width: 24px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 155px;
	left: 35px;
}

#u1493
{
	z-index: 60;
	width: 55px;
	height: 55px;
	border-color: #000000;
	border-radius: 20px 0px 20px 0px ;
	position: relative;
	margin-right: -10000px;
	margin-top: 177px;
	left: 20px;
	background: #FFFFFF url("../images/img.jpg") no-repeat center center;
	background-size: contain;
}

#u1494
{
	z-index: 61;
	width: 475px;
	height: 283px;
	border-style: none;
	border-color: #999999;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1495
{
	z-index: 62;
	width: 460px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
}

#u1496
{
	z-index: 63;
	width: 458px;
	border-width: 1px;
	border-style: solid;
	border-color: #EAEAEA;
	background-color: #FFFFFF;
	border-radius: 50px 0px 50px 0px ;
	padding-bottom: 6px;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
}

#u1502-4
{
	z-index: 72;
	width: 325px;
	min-height: 86px;
	background-color: transparent;
	line-height: 21px;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 99px;
}

#u1506,#u1486,#u1502
{
	line-height: 24px;
}

#u1501-4
{
	z-index: 64;
	width: 251px;
	min-height: 25px;
	background-color: transparent;
	font-size: 16px;
	line-height: 19px;
	position: relative;
	margin-right: -10000px;
	margin-top: 212px;
	left: 89px;
}

#u1499-4
{
	z-index: 68;
	width: 251px;
	min-height: 30px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 181px;
	left: 89px;
}

#u1509,#u1489,#u1499
{
	line-height: 29px;
}

#u1503-4
{
	z-index: 76;
	width: 69px;
	min-height: 212px;
	background-color: transparent;
	line-height: 22px;
	position: relative;
	margin-right: -10000px;
	left: 23px;
}

#u1792-2,#u1792-7,#u1747-2,#u1747-7,#u1773-2,#u1806-2,#u1821-5,#u1279-2,#u1429-2,#u1431-2,#u1506-2,#u1512-2,#u1509-2,#u1510-2,#u1486-2,#u1492-2,#u1489-2,#u1487-2,#u1502-2,#u1499-2,#u1503-2
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u1510,#u1487,#u1503
{
	line-height: 208px;
}

#u1497
{
	z-index: 80;
	width: 24px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 155px;
	left: 35px;
}

#u1500
{
	z-index: 82;
	width: 55px;
	height: 55px;
	border-color: #000000;
	border-radius: 20px 0px 20px 0px ;
	position: relative;
	margin-right: -10000px;
	margin-top: 177px;
	left: 20px;
	background: #FFFFFF url("../images/img.jpg") no-repeat center center;
	background-size: contain;
}

#u784
{
	z-index: 435;
	width: 639px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 62px;
	left: 175px;
}

#u448
{
	z-index: 440;
	width: 630px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u144-4
{
	z-index: 436;
	width: 618px;
	min-height: 36px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 18px;
	text-align: center;
	line-height: 22px;
	font-family: actor, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 304px;
	left: 21px;
}

body
{
	position: relative;
	min-width: 982px;
}

#page .verticalspacer
{
	clear: both;
}

