<style type="text/css">
 
.GraphForm
{
color:#000000;
font-size:11px;
font-family:Arial;
font-weight: bold;
border:solid 1px
}
.GraphHome
{
color:#000000;
font-size:11px;
font-family:Arial;
font-weight: bold;
border:solid 1px
}
//
</style> 
