BODY {
	MARGIN: 0px;
	BACKGROUND-COLOR: #006600
}
BODY {
	FONT-SIZE: 9pt; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
TD {
	FONT-SIZE: 9pt; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
TH {
	FONT-SIZE: 9pt; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
INPUT {
	FONT-SIZE: 9pt; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
SELECT {
	FONT-SIZE: 9pt; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
A {
	COLOR: #336699;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9pt;

}
A.vm {
	FONT-SIZE: 9pt; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
H1 {
	MARGIN-TOP: 8pt; FONT-SIZE: 9pt; MARGIN-BOTTOM: 0px; COLOR: #fe6a06; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
header {
	MARGIN-TOP: 8pt; FONT-SIZE: 9pt; MARGIN-BOTTOM: 0px; COLOR: #fe6a06; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
H2 {
	FONT-WEIGHT: normal; FONT-SIZE: 9pt; MARGIN-BOTTOM: 0px; COLOR: #003366; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
H2 A {
	FONT-WEIGHT: normal; FONT-SIZE: 9pt; COLOR: #254994; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.topmenu {
	FONT-WEIGHT: normal;
	FONT-SIZE: 9pt;
	COLOR: #ffffff;
	TEXT-DECORATION: underline;
	font-family: Verdana, Arial, Helvetica, sans-serif;

}
A.leftmenu {
	PADDING-RIGHT: 0px;
	DISPLAY: block;
	PADDING-LEFT: 10px;
	FONT-SIZE: 9pt;
	PADDING-BOTTOM: 3px;
	PADDING-TOP: 3px;
	TEXT-DECORATION: none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #CCCCCC;

}
A.leftmenu:hover {
	BACKGROUND-COLOR: #f4f4f4;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9pt;

}
DIV.leftmenu {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	PADDING-TOP: 0px;
	border-top-width: 1px;
	border-top-color: #003399;
	border-right-color: #003399;
	border-bottom-color: #003399;
	border-left-color: #003399;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: dotted;




}
DIV.leftmenuheader {
	MARGIN-TOP: 0px;
	PADDING-LEFT: 1px;
	FONT-SIZE: 9pt;
	MARGIN-BOTTOM: 0px;
	PADDING-BOTTOM: 3px;
	PADDING-TOP: 3px;
	font-family: Verdana, Arial, Helvetica, sans-serif;

}
A.small {
	FONT-SIZE: 9pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;

}
TD#tdOurNetwork {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 9pt;
	PADDING-BOTTOM: 0.8em;
	COLOR: #ffffff;
	PADDING-TOP: 0.8em;
	BACKGROUND-COLOR: #003366;
	TEXT-ALIGN: center;
	font-family: Verdana, Arial, Helvetica, sans-serif;

}
TD#tdOurNetwork A {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #ffffff; FONT-FAMILY: Verdana
}
TD#tdSEONetwork A {
	FONT-SIZE: 9pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;

}
TD#tdMain {
	PADDING-BOTTOM: 4em
}
TABLE.form TD {
	FONT-SIZE: 9pt; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; FONT-FAMILY: Verdana, Arial, sans-serif
}
TD.formLeft {
	PADDING-RIGHT: 1em; FONT-WEIGHT: normal; TEXT-ALIGN: right
}
.tblCategoryLinks {
	COLOR: #404040
}
.tblCategoryLinks A {
	COLOR: #404040
}
TABLE.tblListing {
	BORDER-RIGHT: #c0c0c0 1px dashed; BORDER-TOP: #c0c0c0 1px dashed; BORDER-LEFT: #c0c0c0 1px dashed; BORDER-BOTTOM: #c0c0c0 1px dashed
}
TABLE.tblReview {
	BORDER-RIGHT: #c0c0c0 1px dashed; BORDER-TOP: #c0c0c0 1px dashed; BORDER-LEFT: #c0c0c0 1px dashed; BORDER-BOTTOM: #c0c0c0 1px dashed
}
TABLE.tblCategoryLinks {
	BORDER-RIGHT: #c0c0c0 1px dotted; BORDER-TOP: #c0c0c0 1px dotted; MARGIN: 1em 0px; BORDER-LEFT: #c0c0c0 1px dotted; BORDER-BOTTOM: #c0c0c0 1px dotted; BACKGROUND-COLOR: #ffefce
}
P.error {
	FONT-WEIGHT: bold; COLOR: #ff0000
}
TABLE.form {
	BORDER-RIGHT: #c0c0c0 1px dashed; BORDER-TOP: #c0c0c0 1px dashed; BORDER-LEFT: #c0c0c0 1px dashed; BORDER-BOTTOM: #c0c0c0 1px dashed
}
INPUT.btnTrans {
	BORDER-RIGHT: #c0c0c0 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #c0c0c0 1px solid; PADDING-LEFT: 4px; PADDING-BOTTOM: 1px; BORDER-LEFT: #c0c0c0 1px solid; PADDING-TOP: 1px; BORDER-BOTTOM: #c0c0c0 1px solid; BACKGROUND-COLOR: transparent
}
a:hover {
	color: #FF9900;
	font-size: 9pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;


}
TD.leftmenu {
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: dotted;
	border-top-color: #003399;
	border-right-color: #003399;
	border-bottom-color: #003399;
	border-left-color: #003399;
}
