
        @import url('https://fonts.googleapis.com/css?family=Exo:100,200,300,400,500,600,700');

        html, body, #map {
            height: 100%;
            padding: 0;
            margin: 0;
            width: 100%;
            font-family: Exo, Arial, Helvetica, san-serif, serif;
        }

        div {
            box-sizing: border-box;
        }

        #filters {
            width: 300px;
            position: absolute;
            right: 0;
            top: 0;
            height: 100%;
            z-index: 1;
            background: rgba(255, 255, 255, .9);
            box-sizing: border-box;
            padding: 20px 25px 25px 25px;
        }

        #filters h3 {
            margin: 20px 0 5px 0;
            font-size: 12px;
            line-height: 19px;
            text-transform: uppercase;
            color: rgb(150, 150, 150);
            font-family: Arial, Tahoma, san-serif, serif;
        }
		
		  #filters h4 {
            margin: 20px 0 5px 0;
			text-align: center;
            font-size: 8px;
            line-height: 19px;
            text-transform: uppercase;
            color: rgb(150, 150, 150);
            font-family: Arial, Tahoma, san-serif, serif;
        }
		
		
		
		 #filters h1 {
            margin: 20px 0 5px 0;
            font-size: 24px;
            line-height: 19px;
			text-transform: uppercase;
            color: rgb(50, 90, 180);
            font-family: Arial, Tahoma, san-serif, serif;
        }
		
		#filters h2 {font-size:17px; word-wrap: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; -ms-hyphens: auto; hyphens: auto;color:#0FA4DE; line-height:20px; margin-top:0; text-transform:capitalize; padding-top: 30px; padding-bottom:10px; font-weight:700;}

        #filters select, #filters input {
            font-size: 14px;
            line-height: 25px;
            vertical-align: middle;
            height: 30px;
            box-shadow: none;
            color: rgb(50, 50, 50);
            border-radius: 4px;
            width: 255px;
            border: solid 1px rgba(0, 0, 0, .1);
        }

        #filters select:focus, #filters input:focus {
            box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.6);
        }

        #filters select option {
            margin: 5px 0;
            font-size: 10px;
        }

        #filters label {
            font-size: 12px;
            text-align: left;
            color: rgb(100, 100, 100);
        }

        #filters input {
            box-sizing: border-box;
            padding-left: 5px;
        }

        #filters input[type='checkbox'] {
            height: 20px;
            left: 0;
            width: auto;
        }

        .content {
            padding-top: 10px;
        }

        #custom-infowindow {
            display: none;
            overflow-y: scroll;
            width: 300px;
            height: 100%;
            box-shadow: -7px 0 9px -7px rgba(0, 0, 0, 0.4);
            box-sizing: border-box;
            background: rgba(255, 255, 255, 0.9);
            position: absolute;
            right: 300px;
            top: 0;
            padding: 20px;
        }

        #close-window {
            display: none;
            line-height: 20px;
            font-weight: bold;
            width: 20px;
            text-align: center;
            vertical-align: middle;
            background-color: #FFFFFF;
            color: rgb(150, 150, 150);
            text-decoration: none;
            border: 2px solid rgb(150, 150, 150);
            border-radius: 20px;
            font-size: 12px;
            position: absolute;
            top: 20px;
            right: 588px;
            z-index: 2000;
        }

        #close-window:hover, #close-window:focus {
            background-color: rgb(150, 150, 150);
            color: #FFFFFF;
            box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.2);
        }

        p {
            font-size: 12px;
            font-family: Arial, Tahoma, san-serif, serif;
            color: rgb(165, 165, 165);
          
            font-weight: bold;
            padding-bottom: 5px;
            padding-top: 5px;
            margin: 0;
            border-bottom: 1px dotted rgb(240, 240, 240);
        }

        p span {
            font-size: 14px;
            font-family: Exo, Arial, Helvetica, sans-serif;
            color: #000000;
            font-weight: 500;
            text-transform: none;
        }

        #count-window {
            position: absolute;
            width: 330px;
            height: 30px;
            background-color: #FFFFFF;
            left: 70px;
            top: 20px;
            z-index: 1000;
            border-radius: 4px;
        }

        #count-window input {
            width: 100%;
            height: 100%;
            border-radius: 4px;
            border: 0;
            padding-left: 5px;
            box-sizing: border-box;
            color: #0072bc;
            background: none;
			font-weight: bold;
            font-size: 14px;
            line-height: 16px;
            vertical-align: middle;
            box-shadow: none;
            text-align: center;
        }

        .item {
            padding: 10px;
            box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
            background: rgba(255, 255, 255, 0.9);
            position: relative;
            margin-bottom: 0px;
        }

        .infobar {
            background-color: #0FA4DE;
            width: 100%;
            height: 30px;
            color: #FFFFFF;
            position: absolute;
            left: 0;
            top: 0;
            font-weight: 300;
            font-size: 12px;
            padding: 10px;
        }

        .item .header h1 {
            font-size: 17px;
            word-wrap: break-word;
            -webkit-hyphens: auto;
            -moz-hyphens: auto;
            -ms-hyphens: auto;
            hyphens: auto;
            color: #0FA4DE;
            line-height: 20px;
            margin-top: 0;
            text-transform: capitalize;
            padding-top: 30px;
            padding-bottom: 10px;
            border-bottom: 1px dotted rgb(100, 100, 100);
            font-weight: 700;
        }

        .item .content p {
            font-size: 12px;
            font-family: Arial, Tahoma, san-serif, serif;
            color: rgb(200, 200, 200);
            text-transform: uppercase;
            font-weight: bold;
            padding-bottom: 5px;
            padding-top: 5px;
            margin: 0;
            border-bottom: 1px dotted rgb(240, 240, 240);
        }

        .item .content p span {
            font-size: 14px;
            font-family: Exo, Arial, Helvetica, sans-serif;
            color: #000000;
            font-weight: 500;
            text-transform: none;
        }

        .item .content p span.main_location {
            font-weight: 700;
        }

        .viewassessment a {
            display: block;
            width: 100%;
            height: 100%;
            color: #FFFFFF;
            text-decoration: none;
        }

        .item .content p span.download_button {
            display: block;
            background-color: rgb(255, 179, 71);
            border-radius: 4px;
            color: #FFFFFF;
            width: 100%;
            height: 25px;
            line-height: 25px;
            text-align: center;
            margin: 15px 0;
            font-size: 12px;
            vertical-align: middle;
        }

        .item .content p span.download_button:hover, .item .content p span.download_button:focus {
            background-color: rgb(227, 143, 24);
            box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.2);
            cursor: pointer;
        }

        .item .content p span.download_button a {
            display: block;
            width: 100%;
            height: 100%;
            color: #FFFFFF;
            text-decoration: none;
        }

		
		.viewassessment {background-color:#0FA4DE; color:#FFFFFF; border-radius:4px; width:100%; height:25px; line-height:25px; font-size:12px; margin:0px 0; text-align:center; vertical-align: middle;}
		.viewassessment:hover, .viewassessment:focus {background-color:#0977a2; box-shadow:0px 0px 4px 2px rgba(0, 0, 0, 0.2); cursor:pointer;}
		.viewassessment a {display:block; width:100%; height:100%; color:#FFFFFF; text-decoration:none;}
		
		
		
        .item .content p span.download_button {
            display: block;
            background-color: rgb(255, 179, 71);
            border-radius: 4px;
            color: #FFFFFF;
            width: 100%;
            height: 25px;
            line-height: 25px;
            text-align: center;
            margin: 0px 0;
            font-size: 12px;
            vertical-align: middle;
        }

        .item .content p span.download_button:hover, .item .content p span.download_button:focus {
            background-color: rgb(227, 143, 24);
            box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.2);
            cursor: pointer;
        }

        .item .content p span.download_button a {
            display: block;
            width: 100%;
            height: 100%;
            color: #FFFFFF;
            text-decoration: none;
        }

		
		
		
		
        #logo-container {
            min-width: 100%;
        }

        #logo {
            display: block;
            margin: 0 auto;
        }

        .leaflet-control-attribution {
            display: none;
        }
