@import url(https://fonts.googleapis.com/css?family=Rubik:300,400,500,600,700,800,900,300i,400i,500i,600i,700i,800i,900i&display=swap);





body {
  font-family: Rubik;
}
.display-1 {
  font-family: 'Rubik', sans-serif;
  font-size: 4.25rem;
  font-display: swap;
}
.display-1 > .mbr-iconfont {
  font-size: 6.8rem;
}
.display-2 {
  font-family: 'Rubik', sans-serif;
  font-size: 3rem;
  font-display: swap;
}
.display-2 > .mbr-iconfont {
  font-size: 4.8rem;
}
.display-4 {
  font-family: 'Rubik', sans-serif;
  font-size: 1.4rem;
  font-display: swap;
}
.display-4 > .mbr-iconfont {
  font-size: 2.24rem;
}
.display-5 {
  font-family: 'Rubik', sans-serif;
  font-size: 1.5rem;
  font-display: swap;
}
.display-5 > .mbr-iconfont {
  font-size: 2.4rem;
}
.display-7 {
  font-family: 'Rubik', sans-serif;
  font-size: 1rem;
  font-display: swap;
}
.display-7 > .mbr-iconfont {
  font-size: 1.6rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.4rem;
    font-size: calc( 2.1374999999999997rem + (4.25 - 2.1374999999999997) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (2.1374999999999997rem + (4.25 - 2.1374999999999997) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.4rem;
    font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 1.12rem;
    font-size: calc( 1.14rem + (1.4 - 1.14) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.14rem + (1.4 - 1.14) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.2rem;
    font-size: calc( 1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-sm {
  padding: 0.6rem 1.5rem;
  border-radius: 3px;
}
.btn-md {
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-lg {
  padding: 1.2rem 3.2rem;
  border-radius: 3px;
}
.bg-primary {
  background-color: #0072bc !important;
}
.bg-success {
  background-color: #f5c205 !important;
}
.bg-info {
  background-color: #0072bc !important;
}
.bg-warning {
  background-color: #232323 !important;
}
.bg-danger {
  background-color: #cccccc !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #0072bc !important;
  border-color: #0072bc !important;
  color: #ffffff !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #004470 !important;
  border-color: #004470 !important;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #004470 !important;
  border-color: #004470 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #ef4a60 !important;
  border-color: #ef4a60 !important;
  color: #ffffff !important;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #d9132e !important;
  border-color: #d9132e !important;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #d9132e !important;
  border-color: #d9132e !important;
}
.btn-info,
.btn-info:active {
  background-color: #0072bc !important;
  border-color: #0072bc !important;
  color: #ffffff !important;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #004470 !important;
  border-color: #004470 !important;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #004470 !important;
  border-color: #004470 !important;
}
.btn-success,
.btn-success:active {
  background-color: #f5c205 !important;
  border-color: #f5c205 !important;
  color: #ffffff !important;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff !important;
  background-color: #aa8703 !important;
  border-color: #aa8703 !important;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #aa8703 !important;
  border-color: #aa8703 !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #cccccc !important;
  border-color: #cccccc !important;
  color: #4d4d4d !important;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #4d4d4d !important;
  background-color: #a6a6a6 !important;
  border-color: #a6a6a6 !important;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #4d4d4d !important;
  background-color: #a6a6a6 !important;
  border-color: #a6a6a6 !important;
}
.btn-white {
  color: #333333 !important;
}
.btn-white,
.btn-white:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-black,
.btn-black:active {
  background-color: #333333 !important;
  border-color: #333333 !important;
  color: #ffffff !important;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background: none;
  border-color: #003456;
  color: #003456;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #0072bc;
  border-color: #0072bc;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #0072bc !important;
  border-color: #0072bc !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background: none;
  border-color: #c21129;
  color: #c21129;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #ef4a60;
  border-color: #ef4a60;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #ef4a60 !important;
  border-color: #ef4a60 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background: none;
  border-color: #003456;
  color: #003456;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #0072bc;
  border-color: #0072bc;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #0072bc !important;
  border-color: #0072bc !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background: none;
  border-color: #917303;
  color: #917303;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #ffffff;
  background-color: #f5c205;
  border-color: #f5c205;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #f5c205 !important;
  border-color: #f5c205 !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #232323;
  border-color: #232323;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background: none;
  border-color: #999999;
  color: #999999;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #4d4d4d;
  background-color: #cccccc;
  border-color: #cccccc;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #4d4d4d !important;
  background-color: #cccccc !important;
  border-color: #cccccc !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #ffffff;
  background-color: #333333;
  border-color: #333333;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-white-outline,
.btn-white-outline:active,
.btn-white-outline.active {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus {
  color: #333333;
  background-color: #ffffff;
  border-color: #ffffff;
}
.text-primary {
  color: #0072bc !important;
}
.text-secondary {
  color: #ef4a60 !important;
}
.text-success {
  color: #f5c205 !important;
}
.text-info {
  color: #0072bc !important;
}
.text-warning {
  color: #232323 !important;
}
.text-danger {
  color: #cccccc !important;
}
.text-white {
  color: #ffffff !important;
}
.text-black {
  color: #000000 !important;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #003456 !important;
}
a.text-secondary:hover,
a.text-secondary:focus {
  color: #c21129 !important;
}
a.text-success:hover,
a.text-success:focus {
  color: #917303 !important;
}
a.text-info:hover,
a.text-info:focus {
  color: #003456 !important;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #000000 !important;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #999999 !important;
}
a.text-white:hover,
a.text-white:focus {
  color: #b3b3b3 !important;
}
a.text-black:hover,
a.text-black:focus {
  color: #4d4d4d !important;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #0072bc;
}
.alert-warning {
  background-color: #232323;
}
.alert-danger {
  background-color: #cccccc;
}
.mbr-section-btn a.btn:not(.btn-form) {
  border-radius: 100px;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: none !important;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2) !important;
  -webkit-box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2) !important;
}
.mbr-gallery-filter li a {
  border-radius: 100px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #0072bc;
  border-color: #0072bc;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.nav-tabs .nav-link {
  border-radius: 100px !important;
}
a,
a:hover {
  color: #0072bc;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #3db2ff;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #fef2c8;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #3db2ff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #d5d5d5;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Rubik', sans-serif;
  font-size: 1rem;
  font-display: swap;
}
.form-control > .mbr-iconfont {
  font-size: 1.6rem;
}
blockquote {
  border-color: #0072bc;
}
/* Forms */
.mbr-form .btn {
  margin: .4rem 0;
}
.mbr-form .input-group-btn a.btn {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn a.btn:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-form .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
  padding: 1rem 3rem;
}
.mbr-form .input-group-btn button[type="submit"]:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
@media (max-width: 767px) {
  .btn {
    font-size: .75rem !important;
  }
  .btn .mbr-iconfont {
    font-size: 1rem !important;
  }
}
/* Footer */
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #0072bc;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #0072bc;
}
.footer3 input[type="email"],
.footer4 input[type="email"] {
  border-radius: 100px !important;
}
.footer3 .input-group-btn a.btn,
.footer4 .input-group-btn a.btn {
  border-radius: 100px !important;
}
.footer3 .input-group-btn button[type="submit"],
.footer4 .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
}
/* Headers*/
.header13 .form-inline input[type="email"],
.header14 .form-inline input[type="email"] {
  border-radius: 100px;
}
.header13 .form-inline input[type="text"],
.header14 .form-inline input[type="text"] {
  border-radius: 100px;
}
.header13 .form-inline input[type="tel"],
.header14 .form-inline input[type="tel"] {
  border-radius: 100px;
}
.header13 .form-inline a.btn,
.header14 .form-inline a.btn {
  border-radius: 100px;
}
.header13 .form-inline button,
.header14 .form-inline button {
  border-radius: 100px !important;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .card-wrapper {
    flex: auto !important;
  }
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #0072bc;
  color: #ffffff;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: currentColor;
  border-bottom-color: currentColor;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #0072bc;
  border-bottom-color: #0072bc;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #0072bc !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #ffffff !important;
  background: #ef4a60 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 100px;
  height: 100px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%230072bc' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.3;
}
.cid-ssdxgdGboP .navbar {
  background: #ffffff;
  transition: none;
  min-height: 77px;
  padding: .5rem 0;
}
.cid-ssdxgdGboP .navbar-dropdown.bg-color.transparent.opened {
  background: #ffffff;
}
.cid-ssdxgdGboP a {
  font-style: normal;
}
.cid-ssdxgdGboP .nav-item span {
  padding-right: 0.4em;
  line-height: 0.5em;
  vertical-align: text-bottom;
  position: relative;
  text-decoration: none;
}
.cid-ssdxgdGboP .nav-item a {
  display: -webkit-flex;
  align-items: center;
  justify-content: center;
  padding: 0.7rem 0 !important;
  margin: 0rem .65rem !important;
  -webkit-align-items: center;
  -webkit-justify-content: center;
}
.cid-ssdxgdGboP .nav-item:focus,
.cid-ssdxgdGboP .nav-link:focus {
  outline: none;
}
.cid-ssdxgdGboP .btn {
  padding: 0.4rem 1.5rem;
  display: -webkit-inline-flex;
  align-items: center;
  -webkit-align-items: center;
}
.cid-ssdxgdGboP .btn .mbr-iconfont {
  font-size: 1.6rem;
}
.cid-ssdxgdGboP .menu-logo {
  margin-right: auto;
}
.cid-ssdxgdGboP .menu-logo .navbar-brand {
  display: flex;
  margin-left: 5rem;
  padding: 0;
  transition: padding .2s;
  min-height: 3.8rem;
  -webkit-align-items: center;
  align-items: center;
}
.cid-ssdxgdGboP .menu-logo .navbar-brand .navbar-caption-wrap {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  word-break: break-word;
  min-width: 7rem;
  margin: .3rem 0;
}
.cid-ssdxgdGboP .menu-logo .navbar-brand .navbar-caption-wrap .navbar-caption {
  line-height: 1.2rem !important;
  padding-right: 2rem;
}
.cid-ssdxgdGboP .menu-logo .navbar-brand .navbar-logo {
  font-size: 4rem;
  transition: font-size 0.25s;
}
.cid-ssdxgdGboP .menu-logo .navbar-brand .navbar-logo img {
  display: flex;
}
.cid-ssdxgdGboP .menu-logo .navbar-brand .navbar-logo .mbr-iconfont {
  transition: font-size 0.25s;
}
.cid-ssdxgdGboP .menu-logo .navbar-brand .navbar-logo a {
  display: inline-flex;
}
.cid-ssdxgdGboP .navbar-toggleable-sm .navbar-collapse {
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
  padding-right: 5rem;
  width: auto;
}
.cid-ssdxgdGboP .navbar-toggleable-sm .navbar-collapse .navbar-nav {
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  padding-left: 0;
}
.cid-ssdxgdGboP .navbar-toggleable-sm .navbar-collapse .navbar-nav .nav-item {
  -webkit-align-self: center;
  align-self: center;
}
.cid-ssdxgdGboP .navbar-toggleable-sm .navbar-collapse .navbar-buttons {
  padding-left: 0;
  padding-bottom: 0;
}
.cid-ssdxgdGboP .dropdown .dropdown-menu {
  background: #ffffff;
  visibility: hidden;
  display: block;
  position: absolute;
  min-width: 5rem;
  padding-top: 1.4rem;
  padding-bottom: 1.4rem;
  text-align: left;
}
.cid-ssdxgdGboP .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  padding: 0.235em 1.5385em 0.235em 1.5385em !important;
}
.cid-ssdxgdGboP .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-ssdxgdGboP .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
}
.cid-ssdxgdGboP .dropdown.open > .dropdown-menu {
  visibility: visible;
}
.cid-ssdxgdGboP .navbar-toggleable-sm.opened:after {
  position: absolute;
  width: 100vw;
  height: 100vh;
  content: '';
  background-color: rgba(0, 0, 0, 0.1);
  left: 0;
  bottom: 0;
  transform: translateY(100%);
  -webkit-transform: translateY(100%);
  z-index: 1000;
}
.cid-ssdxgdGboP .navbar.navbar-short {
  min-height: 60px;
  transition: all .2s;
}
.cid-ssdxgdGboP .navbar.navbar-short .navbar-toggler-right {
  top: 20px;
}
.cid-ssdxgdGboP .navbar.navbar-short .navbar-logo a {
  font-size: 2.5rem !important;
  line-height: 2.5rem;
  transition: font-size 0.25s;
}
.cid-ssdxgdGboP .navbar.navbar-short .navbar-logo a .mbr-iconfont {
  font-size: 2.5rem !important;
}
.cid-ssdxgdGboP .navbar.navbar-short .navbar-logo a img {
  height: 3rem !important;
}
.cid-ssdxgdGboP .navbar.navbar-short .navbar-brand {
  min-height: 3rem;
}
.cid-ssdxgdGboP button.navbar-toggler {
  width: 31px;
  height: 18px;
  cursor: pointer;
  transition: all .2s;
  top: 1.5rem;
  right: 1rem;
}
.cid-ssdxgdGboP button.navbar-toggler:focus {
  outline: none;
}
.cid-ssdxgdGboP button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #0072bc;
}
.cid-ssdxgdGboP button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-ssdxgdGboP button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-ssdxgdGboP button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-ssdxgdGboP button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-ssdxgdGboP nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-ssdxgdGboP nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-ssdxgdGboP nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-ssdxgdGboP nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-ssdxgdGboP .collapsed.navbar-expand {
  flex-direction: column;
  -webkit-flex-direction: column;
}
.cid-ssdxgdGboP .collapsed .btn {
  display: -webkit-flex;
}
.cid-ssdxgdGboP .collapsed .navbar-collapse {
  display: none !important;
  padding-right: 0 !important;
}
.cid-ssdxgdGboP .collapsed .navbar-collapse.collapsing,
.cid-ssdxgdGboP .collapsed .navbar-collapse.show {
  display: block !important;
}
.cid-ssdxgdGboP .collapsed .navbar-collapse.collapsing .navbar-nav,
.cid-ssdxgdGboP .collapsed .navbar-collapse.show .navbar-nav {
  display: block;
  text-align: center;
}
.cid-ssdxgdGboP .collapsed .navbar-collapse.collapsing .navbar-nav .nav-item,
.cid-ssdxgdGboP .collapsed .navbar-collapse.show .navbar-nav .nav-item {
  clear: both;
}
.cid-ssdxgdGboP .collapsed .navbar-collapse.collapsing .navbar-buttons,
.cid-ssdxgdGboP .collapsed .navbar-collapse.show .navbar-buttons {
  text-align: center;
}
.cid-ssdxgdGboP .collapsed .navbar-collapse.collapsing .navbar-buttons:last-child,
.cid-ssdxgdGboP .collapsed .navbar-collapse.show .navbar-buttons:last-child {
  margin-bottom: 1rem;
}
@media (min-width: 1024px) {
  .cid-ssdxgdGboP .collapsed:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 3.8rem);
  }
}
.cid-ssdxgdGboP .collapsed button.navbar-toggler {
  display: block;
}
.cid-ssdxgdGboP .collapsed .navbar-brand {
  margin-left: 1rem !important;
}
.cid-ssdxgdGboP .collapsed .navbar-toggleable-sm {
  flex-direction: column;
  -webkit-flex-direction: column;
}
.cid-ssdxgdGboP .collapsed .dropdown .dropdown-menu {
  width: 100%;
  text-align: center;
  position: relative;
  opacity: 0;
  overflow: hidden;
  display: block;
  height: 0;
  visibility: hidden;
  padding: 0;
  transition-duration: .5s;
  transition-property: opacity,padding,height;
}
.cid-ssdxgdGboP .collapsed .dropdown.open > .dropdown-menu {
  position: relative;
  opacity: 1;
  height: auto;
  padding: 1.4rem 0;
  visibility: visible;
}
.cid-ssdxgdGboP .collapsed .dropdown .dropdown-submenu {
  left: 0;
  text-align: center;
  width: 100%;
}
.cid-ssdxgdGboP .collapsed .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
  margin-top: 0;
  position: inherit;
  right: 0;
  top: 50%;
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: .3em;
  vertical-align: middle;
  content: "";
  border-top: .30em solid;
  border-right: .30em solid transparent;
  border-left: .30em solid transparent;
}
@media (max-width: 1023px) {
  .cid-ssdxgdGboP.navbar-expand {
    flex-direction: column;
    -webkit-flex-direction: column;
  }
  .cid-ssdxgdGboP img {
    height: 3.8rem !important;
  }
  .cid-ssdxgdGboP .btn {
    display: -webkit-flex;
  }
  .cid-ssdxgdGboP button.navbar-toggler {
    display: block;
  }
  .cid-ssdxgdGboP .navbar-brand {
    margin-left: 1rem !important;
  }
  .cid-ssdxgdGboP .navbar-toggleable-sm {
    flex-direction: column;
    -webkit-flex-direction: column;
  }
  .cid-ssdxgdGboP .navbar-collapse {
    display: none !important;
    padding-right: 0 !important;
  }
  .cid-ssdxgdGboP .navbar-collapse.collapsing,
  .cid-ssdxgdGboP .navbar-collapse.show {
    display: block !important;
  }
  .cid-ssdxgdGboP .navbar-collapse.collapsing .navbar-nav,
  .cid-ssdxgdGboP .navbar-collapse.show .navbar-nav {
    display: block;
    text-align: center;
  }
  .cid-ssdxgdGboP .navbar-collapse.collapsing .navbar-nav .nav-item,
  .cid-ssdxgdGboP .navbar-collapse.show .navbar-nav .nav-item {
    clear: both;
  }
  .cid-ssdxgdGboP .navbar-collapse.collapsing .navbar-buttons,
  .cid-ssdxgdGboP .navbar-collapse.show .navbar-buttons {
    text-align: center;
  }
  .cid-ssdxgdGboP .navbar-collapse.collapsing .navbar-buttons:last-child,
  .cid-ssdxgdGboP .navbar-collapse.show .navbar-buttons:last-child {
    margin-bottom: 1rem;
  }
  .cid-ssdxgdGboP .dropdown .dropdown-menu {
    width: 100%;
    text-align: center;
    position: relative;
    opacity: 0;
    overflow: hidden;
    display: block;
    height: 0;
    visibility: hidden;
    padding: 0;
    transition-duration: .5s;
    transition-property: opacity,padding,height;
  }
  .cid-ssdxgdGboP .dropdown.open > .dropdown-menu {
    position: relative;
    opacity: 1;
    height: auto;
    padding: 1.4rem 0;
    visibility: visible;
  }
  .cid-ssdxgdGboP .dropdown .dropdown-submenu {
    left: 0;
    text-align: center;
    width: 100%;
  }
  .cid-ssdxgdGboP .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
    margin-top: 0;
    position: inherit;
    right: 0;
    top: 50%;
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .3em;
    vertical-align: middle;
    content: "";
    border-top: .30em solid;
    border-right: .30em solid transparent;
    border-left: .30em solid transparent;
  }
}
@media (min-width: 767px) {
  .cid-ssdxgdGboP .menu-logo {
    flex-shrink: 0;
    -webkit-flex-shrink: 0;
  }
}
.cid-ssdxgdGboP .navbar-collapse {
  flex-basis: auto;
  -webkit-flex-basis: auto;
}
.cid-ssdxgdGboP .nav-link:hover,
.cid-ssdxgdGboP .dropdown-item:hover {
  color: #f5c205 !important;
}
.cid-ssdxLO2Os1 {
  background-image: url("../../../assets/images/micrositepmt.jpg");
}
.cid-ssdxLO2Os1 .mbr-text,
.cid-ssdxLO2Os1 .mbr-section-btn {
  color: #f7ed4a;
}
.cid-ssdzcogs4N {
  padding-top: 30px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.cid-ssdzcogs4N .mbr-section-subtitle {
  color: #767676;
}
.cid-ssdzdDilET {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-ssdzdDilET .mbr-text,
.cid-ssdzdDilET blockquote {
  color: #767676;
}
.cid-ssdA9OU0xU {
  padding-top: 30px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.cid-ssdA9OU0xU .mbr-section-subtitle {
  color: #767676;
}
.cid-ssdAfArxMk {
  padding-top: 60px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.cid-ssdAfArxMk .mbr-text,
.cid-ssdAfArxMk blockquote {
  color: #767676;
}
.cid-ssdApli9Pz {
  background: #ffffff;
  padding-top: 0px;
  padding-bottom: 0px;
}
.cid-ssdApli9Pz .image-block {
  margin: auto;
}
.cid-ssdApli9Pz figcaption {
  position: relative;
}
.cid-ssdApli9Pz figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-ssdApli9Pz .image-block {
    width: 100% !important;
  }
}
.cid-ssvL67wDOv {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-ssvL67wDOv .mbr-text,
.cid-ssvL67wDOv blockquote {
  color: #767676;
}
.cid-ssvLpbHLjZ {
  background: #ffffff;
  padding-top: 0px;
  padding-bottom: 0px;
}
.cid-ssvLpbHLjZ .image-block {
  margin: auto;
}
.cid-ssvLpbHLjZ figcaption {
  position: relative;
}
.cid-ssvLpbHLjZ figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-ssvLpbHLjZ .image-block {
    width: 100% !important;
  }
}
.cid-ssvOHS61Fk {
  background-image: url("../../../assets/images/p2-3806x2537.jpeg");
}
.cid-ssvLDvapj0 {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
@media (min-width: 992px) {
  .cid-ssvLDvapj0 .mbr-figure {
    padding-right: 4rem;
  }
}
@media (max-width: 991px) {
  .cid-ssvLDvapj0 .mbr-figure {
    padding-bottom: 1rem;
  }
}
.cid-ssvLDvapj0 .mbr-text {
  color: #767676;
}
.cid-ssvPFoXXPV {
  padding-top: 60px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.cid-ssvPFoXXPV .mbr-section-subtitle {
  color: #767676;
}
.cid-ssvPFoXXPV H2 {
  text-align: center;
}
.cid-ssvPzhwsC6 {
  background: #ffffff;
  padding-top: 0px;
  padding-bottom: 0px;
}
.cid-ssvPzhwsC6 .image-block {
  margin: auto;
}
.cid-ssvPzhwsC6 figcaption {
  position: relative;
}
.cid-ssvPzhwsC6 figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-ssvPzhwsC6 .image-block {
    width: 100% !important;
  }
}
.cid-ssvMOFQh7I {
  background: #ffffff;
  padding-top: 0px;
  padding-bottom: 0px;
}
.cid-ssvMOFQh7I .image-block {
  margin: auto;
}
.cid-ssvMOFQh7I figcaption {
  position: relative;
}
.cid-ssvMOFQh7I figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-ssvMOFQh7I .image-block {
    width: 100% !important;
  }
}
.cid-ssvNvm79Gv {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
@media (min-width: 992px) {
  .cid-ssvNvm79Gv .mbr-figure {
    padding-left: 4rem;
  }
}
@media (max-width: 992px) {
  .cid-ssvNvm79Gv .mbr-figure {
    padding-top: 1rem;
  }
}
.cid-ssvNvm79Gv .mbr-text {
  color: #767676;
}
.cid-ssdCnECz3C {
  padding-top: 30px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.cid-ssdCnECz3C .mbr-section-subtitle {
  color: #767676;
}
.cid-ssdCnECz3C H2 {
  text-align: left;
}
.cid-ssvQ7F8eUq {
  background: #ffffff;
  padding-top: 0px;
  padding-bottom: 0px;
}
.cid-ssvQ7F8eUq .image-block {
  margin: auto;
}
.cid-ssvQ7F8eUq figcaption {
  position: relative;
}
.cid-ssvQ7F8eUq figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-ssvQ7F8eUq .image-block {
    width: 100% !important;
  }
}
.cid-ssvQwjgFEd {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
@media (min-width: 992px) {
  .cid-ssvQwjgFEd .mbr-figure {
    padding-left: 4rem;
  }
}
@media (max-width: 992px) {
  .cid-ssvQwjgFEd .mbr-figure {
    padding-top: 1rem;
  }
}
.cid-ssvQwjgFEd .mbr-text {
  color: #767676;
  text-align: left;
}
.cid-ssvQSScjv9 {
  padding-top: 60px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.cid-ssvQSScjv9 .mbr-section-subtitle {
  color: #767676;
}
.cid-ssvQSScjv9 H2 {
  text-align: center;
}
.cid-ssvR35LQqi {
  background: #ffffff;
  padding-top: 0px;
  padding-bottom: 0px;
}
.cid-ssvR35LQqi .image-block {
  margin: auto;
}
.cid-ssvR35LQqi figcaption {
  position: relative;
}
.cid-ssvR35LQqi figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-ssvR35LQqi .image-block {
    width: 100% !important;
  }
}
.cid-ssvRcPirO5 {
  padding-top: 60px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.cid-ssvRcPirO5 .mbr-section-subtitle {
  color: #767676;
}
.cid-ssvRcPirO5 H2 {
  text-align: center;
}
.cid-ssvRv2JuG2 {
  background: #ffffff;
  padding-top: 0px;
  padding-bottom: 0px;
}
.cid-ssvRv2JuG2 .image-block {
  margin: auto;
}
.cid-ssvRv2JuG2 figcaption {
  position: relative;
}
.cid-ssvRv2JuG2 figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-ssvRv2JuG2 .image-block {
    width: 100% !important;
  }
}
.cid-ssvQRhVRMx {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-ssvQRhVRMx .mbr-text,
.cid-ssvQRhVRMx blockquote {
  color: #767676;
}
.cid-ssvSJiWw1j {
  background: #ffffff;
  padding-top: 0px;
  padding-bottom: 0px;
}
.cid-ssvSJiWw1j .image-block {
  margin: auto;
}
.cid-ssvSJiWw1j figcaption {
  position: relative;
}
.cid-ssvSJiWw1j figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-ssvSJiWw1j .image-block {
    width: 100% !important;
  }
}
.cid-ssvTIm0eAz {
  padding-top: 60px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.cid-ssvTIm0eAz .mbr-section-subtitle {
  color: #767676;
}
.cid-ssvTIm0eAz H2 {
  text-align: center;
}
.cid-ssdCtrEPr7 {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.cid-ssdCtrEPr7 .mbr-text,
.cid-ssdCtrEPr7 blockquote {
  color: #767676;
}
.cid-ssdCKrYuhW {
  background: #ffffff;
  padding-top: 0px;
  padding-bottom: 0px;
}
.cid-ssdCKrYuhW .image-block {
  margin: auto;
}
.cid-ssdCKrYuhW figcaption {
  position: relative;
}
.cid-ssdCKrYuhW figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-ssdCKrYuhW .image-block {
    width: 100% !important;
  }
}
.cid-ssdCukuyoT {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-ssdCukuyoT .mbr-text,
.cid-ssdCukuyoT blockquote {
  color: #767676;
}
.cid-ssdCostmQ2 {
  padding-top: 30px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.cid-ssdCostmQ2 .mbr-section-subtitle {
  color: #767676;
}
.cid-ssdF1U4bMs {
  padding-top: 60px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.cid-ssdF1U4bMs .mbr-text,
.cid-ssdF1U4bMs blockquote {
  color: #767676;
}
.cid-ssvUb01Q1i {
  background: #ffffff;
  padding-top: 0px;
  padding-bottom: 0px;
}
.cid-ssvUb01Q1i .image-block {
  margin: auto;
}
.cid-ssvUb01Q1i figcaption {
  position: relative;
}
.cid-ssvUb01Q1i figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-ssvUb01Q1i .image-block {
    width: 100% !important;
  }
}
.cid-ssvUi8XChZ {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
@media (min-width: 992px) {
  .cid-ssvUi8XChZ .mbr-figure {
    padding-left: 4rem;
  }
}
@media (max-width: 992px) {
  .cid-ssvUi8XChZ .mbr-figure {
    padding-top: 1rem;
  }
}
.cid-ssvUi8XChZ .mbr-text {
  color: #767676;
}
.cid-ssvUw9EaAZ {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
@media (min-width: 992px) {
  .cid-ssvUw9EaAZ .mbr-figure {
    padding-right: 4rem;
  }
}
@media (max-width: 991px) {
  .cid-ssvUw9EaAZ .mbr-figure {
    padding-bottom: 1rem;
  }
}
.cid-ssvUw9EaAZ .mbr-text {
  color: #767676;
}
.cid-ssvUNAR7F8 {
  background: #ffffff;
  padding-top: 0px;
  padding-bottom: 0px;
}
.cid-ssvUNAR7F8 .image-block {
  margin: auto;
}
.cid-ssvUNAR7F8 figcaption {
  position: relative;
}
.cid-ssvUNAR7F8 figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-ssvUNAR7F8 .image-block {
    width: 100% !important;
  }
}
.cid-ssvUXmAns6 {
  padding-top: 60px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.cid-ssvUXmAns6 .mbr-section-subtitle {
  color: #767676;
}
.cid-ssvUXmAns6 H2 {
  text-align: center;
}
.cid-ssvV0Bj4Gq {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-ssvV0Bj4Gq .mbr-text,
.cid-ssvV0Bj4Gq blockquote {
  color: #767676;
}
.cid-ssvVdnpRQw {
  background: #ffffff;
  padding-top: 0px;
  padding-bottom: 0px;
}
.cid-ssvVdnpRQw .image-block {
  margin: auto;
}
.cid-ssvVdnpRQw figcaption {
  position: relative;
}
.cid-ssvVdnpRQw figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-ssvVdnpRQw .image-block {
    width: 100% !important;
  }
}
.cid-ssvVmeOMwx {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-ssvVmeOMwx .mbr-text,
.cid-ssvVmeOMwx blockquote {
  color: #767676;
}
.cid-ssvWqBz8gd {
  background: #ffffff;
  padding-top: 0px;
  padding-bottom: 0px;
}
.cid-ssvWqBz8gd .image-block {
  margin: auto;
}
.cid-ssvWqBz8gd figcaption {
  position: relative;
}
.cid-ssvWqBz8gd figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-ssvWqBz8gd .image-block {
    width: 100% !important;
  }
}
.cid-ssvWyk4QQd {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-ssvWyk4QQd .media-container-row {
  flex-direction: row-reverse;
  -webkit-flex-direction: row-reverse;
}
@media (min-width: 992px) {
  .cid-ssvWyk4QQd .mbr-figure {
    padding-left: 4rem;
  }
}
@media (max-width: 991px) {
  .cid-ssvWyk4QQd .media-container-row {
    flex-wrap: wrap-reverse;
    -webkit-flex-wrap: wrap-reverse;
  }
  .cid-ssvWyk4QQd .mbr-figure {
    padding-top: 1rem;
  }
}
.cid-ssvWyk4QQd .mbr-text {
  color: #767676;
}
.cid-ssvX0kTEgp {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-ssvX0kTEgp .mbr-text,
.cid-ssvX0kTEgp blockquote {
  color: #767676;
}
.cid-ssvX6GUCu2 {
  padding-top: 60px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.cid-ssvX6GUCu2 .mbr-section-subtitle {
  color: #767676;
}
.cid-ssvX6GUCu2 H2 {
  text-align: center;
}
.cid-ssvXAeqxXM {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-ssvXAeqxXM .mbr-text,
.cid-ssvXAeqxXM blockquote {
  color: #767676;
}
.cid-ssvXI8CoZ1 {
  background: #ffffff;
  padding-top: 0px;
  padding-bottom: 0px;
}
.cid-ssvXI8CoZ1 .image-block {
  margin: auto;
}
.cid-ssvXI8CoZ1 figcaption {
  position: relative;
}
.cid-ssvXI8CoZ1 figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-ssvXI8CoZ1 .image-block {
    width: 100% !important;
  }
}
.cid-ssvYcQp6Bu {
  background: #ffffff;
  padding-top: 0px;
  padding-bottom: 0px;
}
.cid-ssvYcQp6Bu .image-block {
  margin: auto;
}
.cid-ssvYcQp6Bu figcaption {
  position: relative;
}
.cid-ssvYcQp6Bu figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-ssvYcQp6Bu .image-block {
    width: 100% !important;
  }
}
.cid-ssvY8f0SF3 {
  background: #ffffff;
  padding-top: 0px;
  padding-bottom: 0px;
}
.cid-ssvY8f0SF3 .image-block {
  margin: auto;
}
.cid-ssvY8f0SF3 figcaption {
  position: relative;
}
.cid-ssvY8f0SF3 figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-ssvY8f0SF3 .image-block {
    width: 100% !important;
  }
}
.cid-ssw2kZufkp {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-ssw2kZufkp .media-container-row {
  flex-direction: row-reverse;
  -webkit-flex-direction: row-reverse;
}
@media (min-width: 992px) {
  .cid-ssw2kZufkp .mbr-figure {
    padding-right: 4rem;
  }
}
@media (max-width: 991px) {
  .cid-ssw2kZufkp .media-container-row {
    flex-wrap: wrap-reverse;
    -webkit-flex-wrap: wrap-reverse;
  }
  .cid-ssw2kZufkp .mbr-figure {
    padding-bottom: 1rem;
  }
}
.cid-ssw2kZufkp .mbr-text {
  color: #767676;
  text-align: left;
}
.cid-ssw2Iqr6Yh {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
@media (min-width: 992px) {
  .cid-ssw2Iqr6Yh .mbr-figure {
    padding-left: 4rem;
  }
}
@media (max-width: 992px) {
  .cid-ssw2Iqr6Yh .mbr-figure {
    padding-top: 1rem;
  }
}
.cid-ssw2Iqr6Yh .mbr-text {
  color: #767676;
  text-align: left;
}
.cid-ssw3CXMubQ {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-ssw3CXMubQ .media-container-row {
  flex-direction: row-reverse;
  -webkit-flex-direction: row-reverse;
}
@media (min-width: 992px) {
  .cid-ssw3CXMubQ .mbr-figure {
    padding-right: 4rem;
  }
}
@media (max-width: 991px) {
  .cid-ssw3CXMubQ .media-container-row {
    flex-wrap: wrap-reverse;
    -webkit-flex-wrap: wrap-reverse;
  }
  .cid-ssw3CXMubQ .mbr-figure {
    padding-bottom: 1rem;
  }
}
.cid-ssw3CXMubQ .mbr-text {
  color: #767676;
  text-align: left;
}
.cid-ssw3Efvvhl {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
@media (min-width: 992px) {
  .cid-ssw3Efvvhl .mbr-figure {
    padding-left: 4rem;
  }
}
@media (max-width: 992px) {
  .cid-ssw3Efvvhl .mbr-figure {
    padding-top: 1rem;
  }
}
.cid-ssw3Efvvhl .mbr-text {
  color: #767676;
  text-align: left;
}
.cid-ssw41r0ccx {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-ssw41r0ccx .media-container-row {
  flex-direction: row-reverse;
  -webkit-flex-direction: row-reverse;
}
@media (min-width: 992px) {
  .cid-ssw41r0ccx .mbr-figure {
    padding-right: 4rem;
  }
}
@media (max-width: 991px) {
  .cid-ssw41r0ccx .media-container-row {
    flex-wrap: wrap-reverse;
    -webkit-flex-wrap: wrap-reverse;
  }
  .cid-ssw41r0ccx .mbr-figure {
    padding-bottom: 1rem;
  }
}
.cid-ssw41r0ccx .mbr-text {
  color: #767676;
  text-align: left;
}
.cid-ssw4ibDkuh {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-ssw4ibDkuh .mbr-text,
.cid-ssw4ibDkuh blockquote {
  color: #767676;
}
.cid-ssw4iP2rSo {
  background: #ffffff;
  padding-top: 0px;
  padding-bottom: 0px;
}
.cid-ssw4iP2rSo .image-block {
  margin: auto;
}
.cid-ssw4iP2rSo figcaption {
  position: relative;
}
.cid-ssw4iP2rSo figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-ssw4iP2rSo .image-block {
    width: 100% !important;
  }
}
.cid-ssdF6LAccu {
  padding-top: 135px;
  padding-bottom: 135px;
  background-image: url("../../../assets/images/rf2190833-10032018-52-2000x1335.jpg");
}
.cid-ssw29QwCfx {
  padding-top: 60px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.cid-ssw29QwCfx .mbr-section-subtitle {
  color: #767676;
}
.cid-ssw29QwCfx H2 {
  text-align: center;
}
.cid-ssw9bYdbsv {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-ssw9bYdbsv .mbr-text,
.cid-ssw9bYdbsv blockquote {
  color: #767676;
}
.cid-ssdEjLUHvG {
  background: #ffffff;
  padding-top: 0px;
  padding-bottom: 15px;
}
.cid-ssdEjLUHvG .image-block {
  margin: auto;
}
.cid-ssdEjLUHvG figcaption {
  position: relative;
}
.cid-ssdEjLUHvG figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-ssdEjLUHvG .image-block {
    width: 100% !important;
  }
}
.cid-ssw9ptdWOC {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
@media (min-width: 992px) {
  .cid-ssw9ptdWOC .mbr-figure {
    padding-left: 4rem;
  }
}
@media (max-width: 992px) {
  .cid-ssw9ptdWOC .mbr-figure {
    padding-top: 1rem;
  }
}
.cid-ssw9ptdWOC .mbr-text {
  color: #767676;
  text-align: left;
}
.cid-ssw9HeynVH {
  background: #ffffff;
  padding-top: 0px;
  padding-bottom: 0px;
}
.cid-ssw9HeynVH .image-block {
  margin: auto;
}
.cid-ssw9HeynVH figcaption {
  position: relative;
}
.cid-ssw9HeynVH figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-ssw9HeynVH .image-block {
    width: 100% !important;
  }
}
.cid-ssdF4DBi4t {
  padding-top: 30px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.cid-ssdF4DBi4t .mbr-section-subtitle {
  color: #767676;
}
.cid-ssdF59tYuG {
  padding-top: 60px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.cid-ssdF59tYuG .mbr-text,
.cid-ssdF59tYuG blockquote {
  color: #767676;
}
.cid-ssw9WH5oYX {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
@media (min-width: 992px) {
  .cid-ssw9WH5oYX .mbr-figure {
    padding-left: 4rem;
  }
}
@media (max-width: 992px) {
  .cid-ssw9WH5oYX .mbr-figure {
    padding-top: 1rem;
  }
}
.cid-ssw9WH5oYX .mbr-text {
  color: #767676;
  text-align: left;
}
.cid-sswa3xcdgf {
  background: #ffffff;
  padding-top: 0px;
  padding-bottom: 0px;
}
.cid-sswa3xcdgf .image-block {
  margin: auto;
}
.cid-sswa3xcdgf figcaption {
  position: relative;
}
.cid-sswa3xcdgf figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-sswa3xcdgf .image-block {
    width: 100% !important;
  }
}
.cid-sswacGvCJW {
  padding-top: 60px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.cid-sswacGvCJW .mbr-section-subtitle {
  color: #767676;
}
.cid-sswacGvCJW H2 {
  text-align: center;
}
.cid-ssw9VhO0pA {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-ssw9VhO0pA .mbr-text,
.cid-ssw9VhO0pA blockquote {
  color: #767676;
}
.cid-sswaktJ9qj {
  background: #ffffff;
  padding-top: 0px;
  padding-bottom: 0px;
}
.cid-sswaktJ9qj .image-block {
  margin: auto;
}
.cid-sswaktJ9qj figcaption {
  position: relative;
}
.cid-sswaktJ9qj figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-sswaktJ9qj .image-block {
    width: 100% !important;
  }
}
.cid-ssw9TRKt0m {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-ssw9TRKt0m .mbr-text,
.cid-ssw9TRKt0m blockquote {
  color: #767676;
}
.cid-sswavZ80Fa {
  background: #ffffff;
  padding-top: 0px;
  padding-bottom: 0px;
}
.cid-sswavZ80Fa .image-block {
  margin: auto;
}
.cid-sswavZ80Fa figcaption {
  position: relative;
}
.cid-sswavZ80Fa figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-sswavZ80Fa .image-block {
    width: 100% !important;
  }
}
.cid-sswaASYtLt {
  background: #ffffff;
  padding-top: 0px;
  padding-bottom: 0px;
}
.cid-sswaASYtLt .image-block {
  margin: auto;
}
.cid-sswaASYtLt figcaption {
  position: relative;
}
.cid-sswaASYtLt figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-sswaASYtLt .image-block {
    width: 100% !important;
  }
}
.cid-sswaKoDQOD {
  padding-top: 30px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.cid-sswaKoDQOD .mbr-section-subtitle {
  color: #767676;
}
.cid-sswaQxniR2 {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-sswaQxniR2 .mbr-text,
.cid-sswaQxniR2 blockquote {
  color: #767676;
}
.cid-sswaUuMFiZ {
  background: #ffffff;
  padding-top: 0px;
  padding-bottom: 0px;
}
.cid-sswaUuMFiZ .image-block {
  margin: auto;
}
.cid-sswaUuMFiZ figcaption {
  position: relative;
}
.cid-sswaUuMFiZ figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-sswaUuMFiZ .image-block {
    width: 100% !important;
  }
}
.cid-sswb2u7mWP {
  padding-top: 60px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.cid-sswb2u7mWP .mbr-section-subtitle {
  color: #767676;
}
.cid-sswb2u7mWP H2 {
  text-align: center;
}
.cid-sswbn3lAuV {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-sswbn3lAuV .mbr-text,
.cid-sswbn3lAuV blockquote {
  color: #767676;
}
.cid-sswbq86wZz {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-sswbq86wZz .media-container-row {
  flex-direction: row-reverse;
  -webkit-flex-direction: row-reverse;
}
@media (min-width: 992px) {
  .cid-sswbq86wZz .mbr-figure {
    padding-right: 4rem;
  }
}
@media (max-width: 991px) {
  .cid-sswbq86wZz .media-container-row {
    flex-wrap: wrap-reverse;
    -webkit-flex-wrap: wrap-reverse;
  }
  .cid-sswbq86wZz .mbr-figure {
    padding-bottom: 1rem;
  }
}
.cid-sswbq86wZz .mbr-text {
  color: #767676;
  text-align: left;
}
.cid-sswbr22HZx {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
@media (min-width: 992px) {
  .cid-sswbr22HZx .mbr-figure {
    padding-left: 4rem;
  }
}
@media (max-width: 992px) {
  .cid-sswbr22HZx .mbr-figure {
    padding-top: 1rem;
  }
}
.cid-sswbr22HZx .mbr-text {
  color: #767676;
  text-align: left;
}
.cid-sswbJTi6rU {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-sswbJTi6rU .media-container-row {
  flex-direction: row-reverse;
  -webkit-flex-direction: row-reverse;
}
@media (min-width: 992px) {
  .cid-sswbJTi6rU .mbr-figure {
    padding-right: 4rem;
  }
}
@media (max-width: 991px) {
  .cid-sswbJTi6rU .media-container-row {
    flex-wrap: wrap-reverse;
    -webkit-flex-wrap: wrap-reverse;
  }
  .cid-sswbJTi6rU .mbr-figure {
    padding-bottom: 1rem;
  }
}
.cid-sswbJTi6rU .mbr-text {
  color: #767676;
  text-align: left;
}
.cid-sswboAtE7p {
  padding-top: 135px;
  padding-bottom: 135px;
  background-image: url("../../../assets/images/rf2190833-10032018-52-2000x1335.jpg");
}
.cid-sswb1TNy56 {
  padding-top: 60px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.cid-sswb1TNy56 .mbr-section-subtitle {
  color: #767676;
}
.cid-sswb1TNy56 H2 {
  text-align: center;
}
.cid-sswbWLQrIm {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
@media (min-width: 992px) {
  .cid-sswbWLQrIm .mbr-figure {
    padding-left: 4rem;
  }
}
@media (max-width: 992px) {
  .cid-sswbWLQrIm .mbr-figure {
    padding-top: 1rem;
  }
}
.cid-sswbWLQrIm .mbr-text {
  color: #767676;
  text-align: left;
}
.cid-sswbYMaRAj {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-sswbYMaRAj .mbr-text,
.cid-sswbYMaRAj blockquote {
  color: #767676;
}
.cid-sswc0cGFKm {
  background: #ffffff;
  padding-top: 0px;
  padding-bottom: 0px;
}
.cid-sswc0cGFKm .image-block {
  margin: auto;
}
.cid-sswc0cGFKm figcaption {
  position: relative;
}
.cid-sswc0cGFKm figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-sswc0cGFKm .image-block {
    width: 100% !important;
  }
}
.cid-sswb12yOTn {
  padding-top: 60px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.cid-sswb12yOTn .mbr-section-subtitle {
  color: #767676;
}
.cid-sswb12yOTn H2 {
  text-align: center;
}
.cid-sswchiOHVm {
  padding-top: 60px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.cid-sswchiOHVm .mbr-text,
.cid-sswchiOHVm blockquote {
  color: #767676;
}
.cid-sswck4M3ld {
  background: #ffffff;
  padding-top: 0px;
  padding-bottom: 0px;
}
.cid-sswck4M3ld .image-block {
  margin: auto;
}
.cid-sswck4M3ld figcaption {
  position: relative;
}
.cid-sswck4M3ld figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-sswck4M3ld .image-block {
    width: 100% !important;
  }
}
.cid-sswcijnrLn {
  padding-top: 60px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.cid-sswcijnrLn .mbr-text,
.cid-sswcijnrLn blockquote {
  color: #767676;
}
.cid-sswclevjHZ {
  background: #ffffff;
  padding-top: 0px;
  padding-bottom: 0px;
}
.cid-sswclevjHZ .image-block {
  margin: auto;
}
.cid-sswclevjHZ figcaption {
  position: relative;
}
.cid-sswclevjHZ figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-sswclevjHZ .image-block {
    width: 100% !important;
  }
}
.cid-sswcjpTGd6 {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-sswcjpTGd6 .mbr-text,
.cid-sswcjpTGd6 blockquote {
  color: #767676;
}
.cid-ssdFN5lJID {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #2e2e2e;
}
@media (max-width: 767px) {
  .cid-ssdFN5lJID .content {
    text-align: center;
  }
  .cid-ssdFN5lJID .content > div:not(:last-child) {
    margin-bottom: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-ssdFN5lJID .media-wrap {
    margin-bottom: 1rem;
  }
}
.cid-ssdFN5lJID .media-wrap .mbr-iconfont-logo {
  font-size: 7.5rem;
  color: #f36;
}
.cid-ssdFN5lJID .media-wrap img {
  height: 6rem;
}
@media (max-width: 767px) {
  .cid-ssdFN5lJID .footer-lower .copyright {
    margin-bottom: 1rem;
    text-align: center;
  }
}
.cid-ssdFN5lJID .footer-lower hr {
  margin: 1rem 0;
  border-color: #fff;
  opacity: .05;
}
.cid-ssdFN5lJID .footer-lower .social-list {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}
.cid-ssdFN5lJID .footer-lower .social-list .mbr-iconfont-social {
  font-size: 1.3rem;
  color: #fff;
}
.cid-ssdFN5lJID .footer-lower .social-list .soc-item {
  margin: 0 .5rem;
}
.cid-ssdFN5lJID .footer-lower .social-list a {
  margin: 0;
  opacity: .5;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}
.cid-ssdFN5lJID .footer-lower .social-list a:hover {
  opacity: 1;
}
@media (max-width: 767px) {
  .cid-ssdFN5lJID .footer-lower .social-list {
    -webkit-justify-content: center;
    justify-content: center;
  }
}
